 .lessonlms-wrap {
     max-width: 99%;
     background: #fff;
     margin: 0 auto;
     padding: 20px;
     display: flex;
     flex-direction: row;
     gap: 40px;
 }

 .course-module-form {
     width: 35%;
 }

 #course-modules-table-wrapper{
     width: 65%;
 }

 .lessonlms-wrap input[type="text"],
 .lessonlms-wrap select {
     width: 100%;
     padding: 8px;
     border-radius: 4px;
     border: 1px solid #ccc;
     margin-bottom: 12px;
 }

 .modules-table th,
 .modules-table td {
     padding: 8px 12px;
 }

 #lessonlms-table-loader{
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 14px;
}
